---
import BigCard from "@/components/BigCard.astro";
import type { CategoryData } from "@/env";
import Layout from "@/layouts/Layout.astro";
import { formatId } from "@/lib/utilsMedia";
import { getCollection } from "astro:content";

const [categoriesRaw, songs] = await Promise.all([
  getCollection("categories"),
  getCollection("songs"),
]);

const categories = categoriesRaw.map((category) => ({
  ...category,
  id: formatId(category.id),
}));

const categoriesData: CategoryData[] = categories.map(({ id, data }) => ({
  id,
  ...data,
}));
const getCategorySongsNum = (categoryId: string) => {
  return songs.filter((song) => song.data.categoryList.includes(categoryId))
    .length;
};
---

<Layout>
  <h3 class="text-3xl my-4 text-white">Categories</h3>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    {
      categoriesData.map((category) => (
        <BigCard
          media={category}
          categorySongsNum={getCategorySongsNum(category.id)}
        />
      ))
    }
  </ul>
</Layout>
