---
import BigCard from "@/components/BigCard.astro";
import type { SongData } from "@/env";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const songs = await getCollection("songs");
const songsData: SongData[] = songs.map(({ id, data }) => ({
  id,
  type: data.type,
  title: data.title,
  cover: data.cover,
  categoryList: data.categoryList,
  src: data.src,
}));
---

<Layout>
  <h3 class="text-3xl my-4 text-white">Cançons</h3>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    {
      songsData.map((song) => (
        <BigCard media={song} songCategories={song.categoryList} />
      ))
    }
  </ul>
</Layout>
