---
import BigCard from "@/components/BigCard.astro";
import type { SongData } from "@/env";
import Layout from "@/layouts/Layout.astro";
import { formatId } from "@/lib/utilsMedia";
import { getCollection } from "astro:content";

const [songs, categoriesRaw] = await Promise.all([
  getCollection("songs"),
  getCollection("categories"),
]);

const categories = categoriesRaw.map((category) => ({
  ...category,
  id: formatId(category.id),
}));

const songsData: SongData[] = songs.map(({ id, data }) => ({
  id,
  type: data.type,
  title: data.title,
  cover: data.cover,
  categoryList: data.categoryList,
  src: data.src,
}));

const getSongCategoriesTitle = (song: SongData) => {
  return categories
    .filter((category) => song.categoryList.includes(category.id))
    .map((category) => category.data.title);
};
---

<Layout>
  <h3 class="text-3xl my-4 text-white">Cançons</h3>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    {
      songsData.map((song) => (
        <BigCard media={song} songCategories={getSongCategoriesTitle(song)} />
      ))
    }
  </ul>
</Layout>
